/* header */
body{
    margin-top: 70px;
}
.fdf{
    max-width: 1720px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.ul{
    display: flex;
}
.li{
    width: 80px;
    font-size: 20px;
    margin-right: 30px;
    color: #3D37F1;
}
.navig{
    font-family: 'Lato';
    transition: all 0.5s;
}
.navig:hover{
    color:  grey;
}
.navig1 /* fonts base style */{
    font-family: 'Lato';
}
/* section 1 */
.header{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.satauti{
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 32px;
}
.box2 img{
    max-width: 300px;
    width: 100%;
}
.parag{
    width: 302px;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'Roboto';
}
.wave{
    max-width: 164px;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    background-color: #3D37F1;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.wave:hover{
    background-color: black;
    color: white;
    transition: all 0.5s;
}
.wave-me::before{
    content: url(../img/waving-hand.svg);
    vertical-align: middle;
    margin-right: 20px;
}
/* section 2 */
.container{
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.flex-conteiner{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.flex{
    width: 371px;
    height: 374px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.icons{
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}
.tex1{
    font-weight: 22px;
    color: white;
    margin-bottom: 15px;
    font-family: 'Lato';
}
.tex2{
    max-width: 328px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Lato';
}
.flex-conteiner .flex:nth-child(1){
    background: #FBBA77;
}
.flex-conteiner .flex:nth-child(2){
    background: #41EAE3;
}
.flex-conteiner .flex:nth-child(3){
    background: #69529F;
}
.flex-conteiner .flex:nth-child(4){
    background: #4386D2;
}
.flex-conteiner .flex:nth-child(5){
    background: #A5A2F6;
}
.flex-conteiner .flex:nth-child(6){
    background: #FF8088;
}
.h4q{
    font-size: 20px;
    color: #3D37F1;
    margin-bottom: 17px;
}
.h21{
    font-size: 40px;
    color: #000;
    margin-bottom: 21px;
}
.par345{
   max-width: 712px;
   width: 100%;
   margin: 0 auto;
   font-size: 18px;
   margin-bottom: 67px;
   font-family: 'Roboto';
}
.read{
    width: 131px;
    height: 54px;
    border: 2px solid white;
    border-radius: 23px;
    margin-top: 11px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 3px;
    transition: all 0.5s;
    font-family: 'Roboto';
}
.read:hover{
    background-color: white;
    color: #4B647E;
    cursor: pointer;
}

.burger{
    display: none;
    color: white;
    font-size: 20px;
}
